// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body{
	background-color: #FF862D;
	font-family: "forma-djr-display", sans-serif;
	font-weight: 500;
	font-style: normal;
}

video{display: block;}


/*Font farver*/
.FontColor1{color: #FFB963;}
.FontColor2{color: #01605c;}
.FontColor3{color: #B64003;}

/*Fonts*/
.OverskriftFont{font-family: "Bricolage Grotesque regular", sans-serif;}

.OverskriftStørrelse{font-size: 5rem;}

.OverskriftAfstand{padding-top: 15vh;}

.MottoStørrelse{font-size: 1rem;}


.Modalbg{background-color: rgba(255,185,99,0.95)}
.ModalHeight{height: 70vh;}


/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0); /* Fallback color */
	background-color: rgba(255,185,99,0.40); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: transparent;
	margin: auto;
	padding: 20px;
	border: 1px solid transparent;
	width: 90%; /*Størrelsen på modal*/
}


/* The Close Button */
.close {
	position: absolute;
	top: 0; /* Justér topplacering efter behov */
	right: 0;
	color: #B64003;
	font-size: 45px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.custom-button{
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: #FFB963;
}


.circle-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60%;
	background-color: #FFB963;
}

.icon {
	color: #FF862D;
	font-size: 30px;
}

.arrow-icon {
	font-size: 40px;
	color: #B64003;
}


.container-fluid{
	display: flex;
	align-items: center;
	overflow: hidden;
}

.scroll{
	white-space: nowrap;
}

.scroll div{
	display: flex;
}


.RightToLeft{
	animation: RightToLeft 20s infinite linear;
}

@keyframes RightToLeft {
	from {
		transform: translate(0%);
	}
	to {
		transform: translate(-50%);
	}
}


.LeftToRight{
	animation: LeftToRight 20s infinite linear;
}

@keyframes LeftToRight {
	from {
		transform: translate(-50%);
	}
	to {
		transform: translate(0%);
	}
}

.LogoStørrelse{height: 3rem;}


#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
}


/*Medie q for turnip størrelse og afstand + mottos størrelse*/
@media screen and (min-width: 375px) {

	.OverskriftStørrelse{font-size: 6rem;}

	.OverskriftAfstand{padding-top: 15vh;}

	.MottoStørrelse{font-size: 1.2rem;}

}


@media screen and (min-width: 425px) {

	.OverskriftStørrelse{font-size: 7rem;}

	.OverskriftAfstand{padding-top: 15vh;}

	.MottoStørrelse{font-size: 1.2rem;}

}


@media screen and (min-width: 577px) {

	.OverskriftStørrelse{font-size: 9rem;}

	.OverskriftAfstand{padding-top: 15vh;}

	.MottoStørrelse{font-size: 1.4em;}

}


@media screen and (min-width: 768px) {

	.OverskriftStørrelse{font-size: 12rem;}

	.OverskriftAfstand{padding-top: 10vh;}

	.MottoStørrelse{font-size: 2em;}

}


@media screen and (min-width: 985px) {

	.OverskriftStørrelse{font-size: 15rem;}

	.OverskriftAfstand{padding-top: 1vh;}

	.MottoStørrelse{font-size: 2.8em;}

}

@media screen and (min-width: 1200px) {

	.OverskriftStørrelse{font-size: 35vh;}

}

