// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body{
	background-color: #FF862D;
	font-family: "forma-djr-display", sans-serif;
	font-weight: 500;
	font-style: normal;
}

video{display: block;}


/*Font farver*/
.FontColor1{color: #FFB963;}
.FontColor2{color: #01605c;}
.FontColor3{color: #B64003;}

/*Fonts*/
.BricolageGrotesque{font-family: 'Bricolage Grotesque', sans-serif;}
.OverskriftStørrelse{font-size: 300px;}

.Modalbg{background-color: rgba(255,185,99,0.95)}
.ModalHeight{height: 70vh;}


#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10vh;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0); /* Fallback color */
	background-color: rgba(255,185,99,0.40); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: transparent;
	margin: auto;
	padding: 20px;
	border: 1px solid transparent;
	width: 90%; /*Størrelsen på modal*/
}

/* The Close Button */
.close {
	color: #B64003;
	float: right;
	font-size: 45px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.custom-button {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	color: #FFB963;
}

.circle-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60%;
	background-color: #FFB963;
}
.icon {
	color: #FF862D;
	font-size: 30px;
}

.next-icon{
	color: #B64003;
}

.carousel-control-prev, .carousel-control-next{
	color: black !important;
}